@font-face {
  font-family: 'Google Sans Display';
  src: url('./GoogleSansDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Google Sans Display';
  src: url('./GoogleSansDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}